{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


{{! The main content area on the homepage }}
<header class="main-head">
 Hello! I'm Sean Lin and I blog about social, economic and political issues on Myanamar (Burma)
</header>
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <div class="post-listing">
            <h2 class="post-title"><a href="{{url}}"><span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>{{{title}}}</a></h2>
        </div>
        
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
